header{
    position:fixed;
    width:100%;
    top:0;left:0;
    height:100px;
    background:gold;
}

  #left {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 40%;
  }

  .left canvas {
    width: 100%;
    height: auto;
  }

  #right {
    width: 45%;
    margin-left: 52%;
    margin-top: 120px;
  }
